


html, body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}









.blocks {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}


#bloco1 {
    background-repeat: no-repeat;
    background-position: center;
}

.row {
    margin-right: -20px;
    margin-left: -20px;
}


.blocks h1 {
	text-align: center;
  font-family: 'Overpass', sans-serif;
}

.blocks h2 {
	text-align: center;
  font-family: 'Overpass', sans-serif;
}

.blocks h3 {
	
}

.blocks li {
	
}

ul {
    list-style-position: inside;
}

#bloco1 h1 {
	opacity: 1;
	font-size: 100px;
}

#bloco2 {
	background: white;
}


#bloco4 {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}



.navbar {
  text-align: center;
  width: 100%;
  float: left;

}

.navbar li {
  display: inline;
  text-transform: uppercase;
  font-weight: 600px;
  opacity: 0.8;
}

ul {
    list-style-position: inside;
    text-align: justify;
    width: 100%;
    margin-right: 50ppx;
    margin-left: 250px;
    padding-top: 20px;
}




.col-md-4 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.homepage a:hover {
	color: #4d004d;
	text-decoration: none;
	opacity: .8;
}

.blocks {
	overflow: hidden
}

#bloco1 {
	overflow: hidden
}

#footer {
    padding: 30px;
    overflow: hidden;
    background: white;
    width: 100%;
    border: 2px solid #f2f2f2;
  

}

#footer p {
  line-height: 20px;
  margin-left: 50px;
  padding: 50px;
  font-family: Muli, Futura, Helvetica, Arial, sans-serif;

}

#footer img {

}

h4 {
  font-family: Overpass, sans serif
}

/* Responsive Styling */

@media (max-width: @1199px) {

.jumbotron h1 {
	font-size: 56px
	margin-bottom: 30px;
}



